@font-face {
  font-family: "iconfont"; /* Project id 3628528 */
  src: url('iconfont.woff2?t=1662268252587') format('woff2'),
       url('iconfont.woff?t=1662268252587') format('woff'),
       url('iconfont.ttf?t=1662268252587') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yaopin:before {
  content: "\e600";
}

.icon-taobaotese:before {
  content: "\e601";
}

.icon-lianyiqun:before {
  content: "\e602";
}

.icon-shoucang:before {
  content: "\e603";
}

.icon-xiangxia:before {
  content: "\e604";
}

.icon-gouwuchekong:before {
  content: "\e605";
}

.icon-zhubaoshipin:before {
  content: "\e606";
}

.icon-shouji:before {
  content: "\e6b7";
}

.icon-dingbu:before {
  content: "\e76c";
}

.icon-wodefankui:before {
  content: "\e656";
}

.icon-guifandunpai:before {
  content: "\e625";
}

.icon-shipinleimu:before {
  content: "\e6f2";
}

.icon-nanzhuangleimu:before {
  content: "\e6f6";
}

.icon-xiezi:before {
  content: "\e638";
}

.icon-wenhao-xianxingyuankuang:before {
  content: "\e8e9";
}

.icon-shoucang1:before {
  content: "\e86d";
}

.icon-dianpu:before {
  content: "\e895";
}

.icon-daifukuan:before {
  content: "\e63f";
}

.icon-xiaoxi:before {
  content: "\e711";
  font-size: 32px;  
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-xiyiji:before {
  content: "\ec78";
}

.icon-jubao:before {
  content: "\e6c2";
}

.icon-wodezuji:before {
  content: "\e614";
}

.icon-xihu:before {
  content: "\e627";
}

.icon-gouwubaobao:before {
  content: "\e69b";
}

