/*
@charset  设置样式表编码
@import   导入其他样式文件
@meida    媒体查询
@font-face 自定义字体
 */
@import "reset.css";

/*头部信息*/
#headMessage{
	width: 100%;  
	background-color: #fff;
	overflow: hidden; 
	height: 40px; 
}
#headMessage .fl{
	padding-left: 10%;
}
#headMessage .fr{
	padding-right: 10%; 
}
#headMessage li{
	float: left; 
	line-height: 35px; 
	padding: 0 6px; 
	font-size: 0;


}
#headMessage a{
	color: #6c6c6c;
	font-size: 12px;

}
#headMessage a.login{
	color: #f22e00;
}
#headMessage span{
	font-size: 12px;
}
#headMessage .line{
	font-size: 12px;
	padding: 0 5px;  
}
/*头部搜素*/
#headSearch{
	background-color: #e8e2e0;
	padding: 24px 0 10px 0;
}
#headSearch h1{
	margin-left:5% ;   
}
#headSearch h1 a{
	display: block;
	width: 142px;
	height: 58px;
	background: url(https://gw.alicdn.com/imgextra/i3/O1CN01uRz3de23mzWofmPYX_!!6000000007299-2-tps-143-59.png) center no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin-top: 8px; 
}
#headSearch .code{
	width: 80px;
	height: 88px;
	border: 1px solid #eee;
	position: relative;
	margin: 0 auto; 
	text-align: center;
	background-color: #fff;  
}
#headSearch .code img{
	width: 72px;
	height: 72px;
}
#headSearch .searchContent{
	margin: 0 auto;
	width: 630px;
	height: 40px;  
	padding-top: 12px;
}
#headSearch .searchBox{
	border: 2px solid #ff5000;
	border-radius:18px;
	width: 630px; 
	height: 40px;
	box-sizing: border-box;
	border-right: none;
	overflow: hidden;
	position: relative; 
	background-color: #fff; 
}
#headSearch .searchBox .title{
	margin-left: 12px;
	width: 65px;
	height: 38px; 
	font-size: 14px; 
}
#headSearch .searchBox input{
	width: 450px;
	height: 36px;
	line-height: 36px;
	outline: none;
	border: none;
	text-indent: 10px;
	background-color: transparent; 
}
}
#headSearch .searchBox input:hover{
	background-color:#f5f5f5;
	z-index: 2; 
}
#headSearch  button{
	position: absolute;
	width: 74px;
	height: 32px;
	text-align: center;
	border: none; 
	font-size: 14px;
	border-radius: 18px;
	background-color: #f40;
	color:white; 
	top: 2px;
	right: 6px; 
}
#headSearch .hotkey{
	margin: 0 auto;
	width: 633px;
	height: 28px; 
	padding: 12px  0 0 41px; 

}
#headSearch .hotkey a{
	padding: 0 5px;  
}
#tab{
	background-color: #fff;
	border: none;
	border-radius: 20px;
	margin-top: 10px ;
}
#tab .classify{
	overflow: hidden; 
	width: 270px;
	height: 378px;
	background-color: #f5f5f5;
	border-radius: 10px;     
	margin: 20px  0 0 40px ; 
	font-size: 14px; 
	text-align:center;  
}
#tab .classify div{
	padding-left: 45px;
	margin: 0 0 18px 0; 
	width: 210px;
	height: 22px; 
	text-align: left;
}
#tab .classify div:hover{
	color: #f40 ; 
}

#tab .classify h2{
	margin: 8px;   
}
#tab .classify div a{
	padding: 0 8px; 
}
#tab .classify div a:hover{
	text-decoration-line: underline; 
}
#tab .nav{
	width: 810px;
	height: 42px;
	background-color: #f5f5f5;
	border-radius: 10px;
	margin: 20px 40px 0 0; 
	font-size: 16px; 

}
#tab .nav li{
	float: left;
	text-align: center;
	padding:10px 22px; 
}
#tab .nav li :hover{
	color: #f40; 
}
#tab .img{
	width: 564px;
	height: 315px;  
 	overflow: hidden;    
 	padding: 20px 0 ;
 	position: relative; 
 	right: -30px; 
} 
#tab .img div{
	font-size: 0px;
	width: calc(564px*5);
	height: 315px;
	margin: 0 auto; 
	animation:test 30s infinite linear ; 
}
#tab .img img{
	border-radius: 10px; 
	width: 564px;
	height: 315px;
	float: left; 
}
@keyframes test{
	0%,10%{margin-left: 0px;}
	20%,30%{margin-left: -564px;}
	40%,50%{margin-left: -1128px;}
	60%,70%{margin-left: calc(-564px*3);}
	80%,90%{margin-left:  calc(-564px*4);}
}
#tab .infor{
	width: 216px;
	height: 315px;
	background-color: #f5f5f5;
	border-radius: 10px;
	margin: 20px 40px 0 40px;
	font-size: 16px; 
	text-align: center;

}
#tab .infor img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden; 
	margin: 14px auto;	 
}
#tab .infor .btn li{
	float: left; 
	line-height: 22px; 
	text-align: center; 
	width: 50px;
	height: 22px; 
	margin: 12px 9px 0 9px;
	border: 2px solid #f40;  
	border-radius: 30px;     

}
#tab .infor .icon li{
	float: left; 
	width: 48px;
	height: 48px;
	font-size: 8px; 
	text-align: center;
	margin: 10px 28px;  
}
#tab .infor .icon li span{
	font-size: 36px;     
}
#screen .title{
	line-height: 24px; 
	width: 1124px;
	height: 24px;
	margin: 20px 0 0 6px;
} 
#screen .title .like{
	width: 98px;
	height: 24px;
	font-size: 18px;
	margin: 0 4px 0 40px ;
}
#screen .title .recommend{
	width: 64px;
	height: 20px;
	font-size: 12px;
	background-color: #f40;
	color: white; 
}
#screen .content{
	width: 1190px;
	height: auto; 
}
#screen .content a{
	float: left;
	width: 370px;
	height: 172px; 
	background-color: #f5f5f5; 
	margin: 13px;  
	box-sizing: border-box; 
	border-radius: 5px; 
}
#screen .content a img{
	width: 150px;
	height: 150px;
	margin: 11px;
	background-color: #fff; 
}
#screen .content a div{
	float: right; 
	width: 186px;
	height: 46px;
	margin-top: 11px;  
	margin-right: 10px;  
}
#screen .content a span{
	position: relative ; 
	width: 54px;
	height: 24px;
	left: 180px;
	font-size: 24px;
	top:-60px ; 
}
#screen .content a:hover{
	color: #f40; 
	background-color: #fff;
	border: 1px solid #f40; 
}
#screen .foot{
	width:1190px ;
	height: 120px;
	margin-top: 20px; 
}
#screen .foot div{
	width: 200px;
	height: 120px;
	float: left; 
	margin: 10px  0 0 90px;  
}
#screen .foot div span{
	text-align: center;
	font-size: 24px;
	margin: 10px;    
}
#screen .foot div li{
	float: left; 
	padding:5px 15px;   
}
#screen .foot div li:hover{
	color: #f40; 
}
#foot{
	width: 100%;
	height: 400px;
	background-color: #fff;
	margin-top: 30px; 
}
#foot .first{
	height: 63px; 
	width: 1190px; 
	margin: 0 auto; 
	border-bottom: 1px solid black; 

}
#foot .first li{
	float: left;   
	margin-top: 10px; 
}
#foot .first a{
	margin: 10px 10px;
	color: #6c6c6c;
}

 #foot .first li :hover{
	color: #f40; 
}
#foot .second {
	width: 1190px;
	height: 298px;
	margin: 0 auto; 
}
#foot .second img{
	width: 1190px;
	height: 298px;
}

#toolkit{
	width: 60px;
	height: 347px;
	position: fixed;
	right: 0px;
	top: 30%;
	border-radius: 10px;
	text-align: center;
	background-color: #fff; 
}
#toolkit a{
	float: right; 
	width: 60px;
	height: 80px;
	margin-top: 8px;   
}
#toolkit a span{
	width: 60px;
	height: 24px;
	font-size: 24px;
	margin: 10px auto;
}

#toolkit a div{
	width: 60px;
	height: 12px;
	font-size: 12px; 
}

