*{
	margin: 0;
	padding: 0;
	list-style: none;
	
}
body{
	background-color: #B7E4F6;
}
.warpper{
	margin: 25px 250px;   
}
.warpper canvas{
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 20px;
	background-color: #fff;
}
.warpper .btn-list{
	width: 1000px;
	height: 40px;
	text-align: center;
}
.warpper .btn-list li{
	display: inline-block;
	margin-left: 40px;	
}
.warpper .btn-list li input{
	vertical-align: center;
	display: block;
	background: #39D0EF;
	color: #000;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 25px;
	transition-duration: 0.2s;
	width: 80px;
	height: 40px; 
}
.warpper .btn-list li input:hover{
	border: 1px solid #7370F8;

}