@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663316139950') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzhuangtu:before {
  content: "\f00ce";
}

.icon-xiangxia:before {
  content: "\f0170";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-huojian:before {
  content: "\e615";
}

.icon-bokeyuan:before {
  content: "\e623";
  color: #0984e3;
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-shouye:before {
  content: "\e645";
  color:#00d1b2;
}

.icon-tixing:before {
  content: "\e716";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-shoucang:before {
  content: "\eb26";
}

.icon-pinglun:before {
  content: "\e62f";
}

.icon-guankan:before {
  content: "\e63e";
}

.icon-biji:before {
  content: "\e669";
  color: #ff6b81;
}

.icon-lianxi:before {
  content: "\e66f";
  color: #ffd257;
}

.icon-youjian:before {
  content: "\e60a";
}

.icon-biji1:before {
  content: "\e64f";
}

.icon-zhuti:before {
  content: "\e618";
}

.icon-yueliang:before {
  content: "\e6f7";
}

.icon-caogao:before {
  content: "\e760";
  color: #10ac84;
}

.icon-caogaoxiang:before {
  content: "\e6f3";
  color: #10ac84;
}

